USE [master]
GO
/****** Object:  Database [HR_DB]    Script Date: 14.11.2025 15:02:20 ******/
CREATE DATABASE [HR_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HR_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HR_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HR_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HR_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HR_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HR_DB]
GO
/****** Object:  Table [dbo].[Movements]    Script Date: 14.11.2025 15:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date_of_acceptance] [date] NULL,
	[Date_of_dismissal] [date] NULL,
	[IdUser] [int] NULL,
	[IdWorker] [int] NULL,
 CONSTRAINT [PK_Movements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14.11.2025 15:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Named] [nvarchar](50) NULL,
	[SurName] [nvarchar](50) NULL,
	[Patronymic] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacations]    Script Date: 14.11.2025 15:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NULL,
	[IdWorkes] [int] NULL,
	[Vacation_date] [date] NULL,
	[Vacation_end_date] [date] NULL,
	[Date_of_business_trip] [date] NULL,
	[Business_trip_end_date] [date] NULL,
	[Sick_leave_start_date] [date] NULL,
	[Sick_leave_end_date] [date] NULL,
 CONSTRAINT [PK_Vacations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workers]    Script Date: 14.11.2025 15:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[SurName] [nvarchar](50) NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Post] [nvarchar](50) NULL,
	[Salary] [money] NULL,
 CONSTRAINT [PK_Workers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Movements] ON 

INSERT [dbo].[Movements] ([Id], [Date_of_acceptance], [Date_of_dismissal], [IdUser], [IdWorker]) VALUES (1, CAST(N'2024-01-10' AS Date), NULL, 4, 1)
INSERT [dbo].[Movements] ([Id], [Date_of_acceptance], [Date_of_dismissal], [IdUser], [IdWorker]) VALUES (2, CAST(N'2024-02-15' AS Date), NULL, 5, 2)
INSERT [dbo].[Movements] ([Id], [Date_of_acceptance], [Date_of_dismissal], [IdUser], [IdWorker]) VALUES (3, CAST(N'2024-03-20' AS Date), NULL, 6, 3)
SET IDENTITY_INSERT [dbo].[Movements] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [Password], [Named], [SurName], [Patronymic]) VALUES (4, N'mizyak.k@mail.ru', N'123456', N'Kirill', N'Mizyak', N'Genadievich')
INSERT [dbo].[Users] ([Id], [Login], [Password], [Named], [SurName], [Patronymic]) VALUES (5, N'anna.smith@mail.com', N'pass123', N'Anna', N'Smith', N'Petrovna')
INSERT [dbo].[Users] ([Id], [Login], [Password], [Named], [SurName], [Patronymic]) VALUES (6, N'ivan.ivanov@mail.com', N'qwerty', N'Ivan', N'Ivanov', N'Ivanovich')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vacations] ON 

INSERT [dbo].[Vacations] ([Id], [IdUser], [IdWorkes], [Vacation_date], [Vacation_end_date], [Date_of_business_trip], [Business_trip_end_date], [Sick_leave_start_date], [Sick_leave_end_date]) VALUES (1, 4, 1, CAST(N'2025-06-01' AS Date), CAST(N'2025-06-14' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[Vacations] ([Id], [IdUser], [IdWorkes], [Vacation_date], [Vacation_end_date], [Date_of_business_trip], [Business_trip_end_date], [Sick_leave_start_date], [Sick_leave_end_date]) VALUES (2, 5, 2, NULL, NULL, CAST(N'2025-07-10' AS Date), CAST(N'2025-07-15' AS Date), NULL, NULL)
INSERT [dbo].[Vacations] ([Id], [IdUser], [IdWorkes], [Vacation_date], [Vacation_end_date], [Date_of_business_trip], [Business_trip_end_date], [Sick_leave_start_date], [Sick_leave_end_date]) VALUES (3, 6, 3, NULL, NULL, NULL, NULL, CAST(N'2025-08-01' AS Date), CAST(N'2025-08-05' AS Date))
SET IDENTITY_INSERT [dbo].[Vacations] OFF
GO
SET IDENTITY_INSERT [dbo].[Workers] ON 

INSERT [dbo].[Workers] ([Id], [Name], [SurName], [Patronymic], [Post], [Salary]) VALUES (1, N'Kirill', N'Mizyak', N'Genadievich', N'HR Manager', 60000.0000)
INSERT [dbo].[Workers] ([Id], [Name], [SurName], [Patronymic], [Post], [Salary]) VALUES (2, N'Anna', N'Smith', N'Petrovna', N'Accountant', 55000.0000)
INSERT [dbo].[Workers] ([Id], [Name], [SurName], [Patronymic], [Post], [Salary]) VALUES (3, N'Ivan', N'Ivanov', N'Ivanovich', N'Developer', 70000.0000)
SET IDENTITY_INSERT [dbo].[Workers] OFF
GO
ALTER TABLE [dbo].[Movements]  WITH CHECK ADD  CONSTRAINT [FK_Movements_Users] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Movements] CHECK CONSTRAINT [FK_Movements_Users]
GO
ALTER TABLE [dbo].[Movements]  WITH CHECK ADD  CONSTRAINT [FK_Movements_Workers] FOREIGN KEY([IdWorker])
REFERENCES [dbo].[Workers] ([Id])
GO
ALTER TABLE [dbo].[Movements] CHECK CONSTRAINT [FK_Movements_Workers]
GO
ALTER TABLE [dbo].[Vacations]  WITH CHECK ADD  CONSTRAINT [FK_Vacations_Users] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Vacations] CHECK CONSTRAINT [FK_Vacations_Users]
GO
ALTER TABLE [dbo].[Vacations]  WITH CHECK ADD  CONSTRAINT [FK_Vacations_Workers] FOREIGN KEY([IdWorkes])
REFERENCES [dbo].[Workers] ([Id])
GO
ALTER TABLE [dbo].[Vacations] CHECK CONSTRAINT [FK_Vacations_Workers]
GO
USE [master]
GO
